<br>
<br>

<h3>What is the Air Quality Index (AQI)</h3>

<p>The AQI is divided into six categories. Each category corresponds to a different level of health concern. Each category also has a specific color. The color makes it easy for people to quickly determine whether air quality is reaching unhealthy levels in their communities.</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Daily AQI Color</th>
      <th scope="col">Levels of Concern</th>
      <th scope="col">Values of Index</th>
      <th scope="col">Description of Air Quality</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active text-green">
      <th scope="row">Green</th>
      <td>Good</td>
      <td>0 to 50</td>
      <td>Air quality is satisfactory, and air pollution poses little or no risk.</td>
    </tr>
    <tr class="table-light text-yellow">
      <th scope="row">Yellow</th>
      <td>Moderate</td>
      <td>51 to 100</td>
      <td>Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.</td>
    </tr>
    <tr class="table-active text-orange">
      <th scope="row">Orange</th>
      <td>Unhealthy for Sensitive Groups</td>
      <td>101 to 150</td>
      <td>Members of sensitive groups may experience health effects. The general public is less likely to be affected.</td>
    </tr>
    <tr class="table-light text-red">
      <th scope="row">Red</th>
      <td>Unhealthy</td>
      <td>151 to 200</td>
      <td>Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.</td>
    </tr>
    <tr class="table-active">
      <th scope="row">Purple</th>
      <td>Very Unhealthy</td>
      <td>201 to 300</td>
      <td>Health alert: The risk of health effects is increased for everyone.</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Maroon</th>
      <td>Hazardous</td>
      <td>301 and higher</td>
      <td>Health warning of emergency conditions: everyone is more likely to be affected.</td>
    </tr>
  </tbody>
</table>


<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<img src="../../../assets/img/air-quality-index.png" 
     alt="Different AQI level thresholds and coresponding colors"
     title="AQI coloring scheme"
     class="center">

<h3>Five major pollutants</h3>
<p>EPA establishes an AQI for five major air pollutants regulated by the Clean Air Act. Each of these pollutants has a national air quality standard set by EPA to protect public health:</p>
<ul>
  <span title="Ozone pollution is more likely to form during warmer months. This is when the weather conditions normally needed to form ground-level ozone lots of sun occur."><li>ground-level ozone</li> </span>
  <span title="Particle pollution (also known as “particulate matter”) con-sists of a mixture of solids and liquid droplets. Some particles are emitted directly; others form when pollutants emitted by various sources react in the atmosphere."><li>particle pollution (also known as particulate matter, including PM2.5 and PM10)</li></span>
  <span title="Carbon monoxide is an odorless, colorless gas. It forms when the carbon in fuels does not completely burn. Vehicle exhaust contributes roughly 75 percent of all carbon mon-oxide emissions nationwide, and up to 95 percent in cities."><li>carbon monoxide</li></span>
  <span title="Sulfur dioxide, a colorless, reactive gas, is produced when sulfur-containing fuels such as coal and oil are burned. Generally, the highest levels of sulfur dioxide are found near large industrial complexes. Major sources include power plants, refineries, and industrial boilers."><li>sulfur dioxide</li></span>
  <span title="NO2 primarily gets in the air from the burning of fuel. NO2 forms from emissions from cars, trucks and buses, power plants, and off-road equipment."><li>nitrogen dioxide</li></span>
</ul>


